body{
    background-color: darkslategray;
}

h1{
    color: white;
    text-align: center;
}

p{
    color: white;
    text-align: center;
}

#start {
    font-size: 75px;
    color: green;
}